@page
@model ProjectMVC.Pages.Books.ManageTagsModel
@{
}
<a class="btn btn-warning" asp-page="./ManageInfo" asp-route-id="@Model.Books[0].BookID">Back</a>
<h1>List of tags the book doesn't have:</h1> <br />
<table class="table table-hover">
    <thead>
        <tr>
            <td>
                Tag Name
            </td>
            <td>

            </td>
        </tr>
    </thead>
    <tbody>
        
            @foreach(var item in Model.Tags2)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => item.TagName)
                    </td>
                    <td>
                        <form method="post">
                            <input type="text" hidden value=@item.TagID name="tagid" />
                            <input type="submit" value="Add Tag" name="action" class="btn btn-success" />
                        </form>
</td>
                </tr>
            }
      
    </tbody>
</table>
<h1>List of tags the book has:</h1> <br />
<table class="table table-hover">
    <thead>
        <tr>
            <td>
                Tag Name
            </td>
            <td>
            </td>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var item in Model.Tags)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.TagName)
                </td>
                <td>
                    <form method="post">
                        <input type="text" hidden value="remove" name="action" />
                        <input type="text" hidden value=@item.TagID name="tagid" />
                        <input type="submit" value="Remove Tag" name="action" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
            
        </tbody>
    </table>