@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Announcements and News:</h1>
<br />
@for(int i = Model.Messages.Count() - 1; i>=0 && i>= Model.Messages.Count()-2; i--)
            {
                <div>
                    <h4>@Html.DisplayFor(modelitem=>Model.Messages.ElementAt(i).timestamp)</h4>
                </div>
                <div>
                    <h4>@Html.DisplayFor(modelitem => Model.Messages.ElementAt(i).mesage)</h4>
                </div>
                <br />
            }
<br />
<a class="btn btn-warning" asp-page="/Announcements">All Announcements</a>