@page
@model ProjectMVC.Pages.Tags.CreateModel
@{
}


<form method="post">
    <h1>Tag Name</h1>
    <div class="movedown">
    <input type="text" name="TagName" required size="30" />
        </div>
    <div class="movedown">
        <input type="submit" name="action" value="Add" class="btn btn-success"/>
    </div>
</form>