@page
@model ProjectMVC.Pages.Tags.TagsModel
@{
}

@if (User.IsInRole("Admin") || User.IsInRole("Mod"))
{
    <a class="btn btn-success" asp-page="Create">Create new Tag</a>
}
<a class="btn btn-warning" asp-page="/Filters/Filters">Filter</a>

<br />
<h1>Currently available Tags</h1>
<br />

<table class=" table table-hover">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Tags[0].TagName)</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tags)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.TagName)
                </td>
            </tr>
        }
        @if (User.IsInRole("Admin,Mod"))
        {
            <tr>
                <td>
                    <a class="btn btn-success" asp-page="./Create">Create Tag</a>
                </td>
            </tr>
        }
    </tbody>
</table>